Django==2.1.6
djangorestframework==3.9.1
Markdown==3.0.1 # Markdown support for the browsable API.
django-filter==2.1.0 # Filtering support
git+https://github.com/ernestoarbitrio/django-highcharts.git
pandas==0.24.1
