Django==3.2.4
djangorestframework==3.12.4
Markdown==3.3.4 # Markdown support for the browsable API.
django-filter==2.4.0 # Filtering support
git+https://github.com/ernestoarbitrio/django-highcharts.git
pandas==1.1.2
mysqlclient==2.0.3
